<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youle"
    android:versionCode="2"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="91527104cc" />
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="QQ" />
		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" />  -->
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="637254f3cad5db17f30d29ecab33b9d5" />

        <activity
            android:name=".managerUi.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".managerUi.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.youle.managerUi.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.youle.managerUi.MeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".managerUi.CouponActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.youle.managerUi.ChooseCity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.PwfixActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.ReleaseActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".managerUi.ReleaseOkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".managerUi.ShopMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.youle.managerUi.SlidActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.CarMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.CouponDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.ConsumeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.MeSetActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".crop.CropActivity"
            android:noHistory="true" 
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.CROP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".managerUi.SysSetActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.CarListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.WebMeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.youle.managerUi.CarReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.ApplyTaxiActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.ApplyShopActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.AddPostActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.HotActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.HotDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.HotCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.HotReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".managerUi.ShowLargeActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".service.UpdataService"
            android:enabled="true" />
        <service android:name=".service.SystemMsgService"/>
        <!-- ShareSdk -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SSOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.sharesdk.framework.AuthorizeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >

            <!-- NoTitle表示不显示授权页面的标题 boolean值，为true表示不显示，否则为显示，默认为显示 -->
            <!-- <meta-data android:name="NoTitle" android:value="true" /> -->
        </activity>
        <activity android:name=".managerUi.SysMsgActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".managerUi.ForgotPsdActivity" />
        <activity android:name=".managerUi.CouponMapActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".managerUi.ShowImage"/>
        <activity android:name=".view.ShowDialog"
                android:theme="@style/Theme.Translucent"
                android:screenOrientation="portrait"/>
        <activity android:name="com.youle.managerUi.RoadMapActivity"/>
        <activity android:name="com.youle.fragment.SlipMainCenter"/>
        <activity android:name=".managerUi.SysPrivateMsgActivity"/>
        <activity android:name=".managerUi.SysMessageActivity"/>
        <activity android:name=".managerUi.SysPrivateActivity"/>
        <!-- ShareSdk -->
    </application>

</manifest>